.info-area{
    width: 60%;
    height: 40vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.info-item{
    display: flex;
    flex-flow: column nowrap;
}
.info-item_title{
    margin:5px;
}
.item_input{
    width: 160px;
    padding: 5px;
    font-size: 1.0em;
    border: 0.5px solid #000;
}
.item_input:focus{
    font-size: 1.1em;
    background-color: floralwhite;
}
.item_input:hover{
    font-size: 1.1em;
    background-color: floralwhite;
}
.history-area{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}
.history-input{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.history-add-btn{
    box-sizing: border-box;
    text-align: center; 
    width: 30px;
    height: 30px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    padding: 7px;
    background-color: cornflowerblue;
    margin-left: 5px;
    color: #fff;
    font-weight: bold;
}
.history-add-btn:focus, 
.history-add-btn:hover{
    background-color: dodgerblue;
    cursor: pointer;
}
.history-list{
    margin: 10px;
}
.history-item{
    margin: 5px;
}
.info-btn{
    display: inline-block;
    margin-top: 15px;
    box-sizing: border-box;
    text-align: center;
    border: 0px;
    border-radius: 250px;
    font-weight: 800;
    padding: 15px 30px;
    background-color: cornflowerblue;
    color: #fff;
    transition: all 10ms;
}
.info-btn:hover,
.info-btn:focus{
    background-color: dodgerblue;
    cursor: pointer;
}