.info-area{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.info-title{
    margin: 10px;
    white-space:nowrap;
}
.info-item{
    display: flex;
    flex-flow: column nowrap;
}
.info-item_title{
    margin:5px;
    white-space:nowrap;
}
.item_input{
    width: 160px;
    padding: 5px;
    font-size: 1.0em;
    border: 0.5px solid #000;
}
.item_input:focus{
    font-size: 1.1em;
    outline: none;
    border-radius: 50px;
    background-color: floralwhite;
}
.item_input:hover{
    font-size: 1.1em;
    background-color: floralwhite;
}
.pay-day-area{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.pay-day {
    width: 160px;
    padding: 5px;
    font-size: 1.0em;
    border:0.5px solid #000;
    border-radius: 0px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.info-btn{
    display: inline-block;
    margin-top: 15px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 250px;
    font-weight: 800;
    padding: 15px 30px;
    background-color: cornflowerblue;
    color: #fff;
    transition: all 10ms;
}
.info-btn:hover,
.info-btn:focus{
    background-color: dodgerblue;
    cursor: pointer;
}

.clear-btn{
    display: inline-block;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 250px;
    font-weight: 800;
    padding: 10px 25px;
    background-color: cornflowerblue;
    color: #fff;
    transition: all 10ms;
}
.clear-btn:hover,
.clear-btn:focus{
    background-color: dodgerblue;
    cursor: pointer;
}
