.user-title-area{
    margin: 10px;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.summary-area{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}
.summary-info{
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin:15px;
}
.summary-info_item{
    height: 60px;
    display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
}
.summary-card-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.summary-card{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

@media (min-width: 320px){
    .summary-card{
        flex-basis: 23%;
    }
    .summary-card_stamp{
        width: 60px;
    }
}

@media (min-width: 768px){
    .summary-card{
        flex-basis: 20%;
    }
    .summary-card_stamp{
        width: 70px;
    }
}

@media (min-width: 1024px){
    .summary-card{
        flex-basis: 15%;
    }
    .summary-card_stamp{
        width: 80px;
    }
}
