/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 공통 CSS */

.big-font{
	font-size: 1.1em;
}
.big-font-bold{
	font-size: 1.1em;
	font-weight: bold;
}
.mid-font{
	font-size:1.0em;
}
.mid-font-bold{
	font-size:1.0em;
	font-weight: bold;
}
.small-font{
	font-size: 0.9em;
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	background-color: #f8f9fa;
}

.header{
	width: 100%;
	height: 70px;
	position: fixed;
	left:0;
	top:0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.header_item{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.header .header_title{
	display: block;
}

.header .header_subtitle{
	margin: 3px;
	color: black;
}

.footer{
	position: fixed;
	bottom:0;
	left:0;
}

.section{
	display: flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-items: center;
}

@media (min-width: 320px){
    .section{
		width: 100vw;
	}   
}

@media (min-width: 768px){
    .section{
		width: 100vw;
	}
}

@media (min-width: 1024px){
    .section{
		max-width: 1024px;
		width: 100vw;
	}
}


